/* src/style.css */
:root {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #fff0f3; /* Un rosa muy pálido de fondo */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { margin: 0; }